@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');


.player-image {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    margin-left: 1.6em;
    margin-top: 3em;;
  }


.winner {
    width: 100px;
    height: 55px;
    margin: 10px auto;
    color: goldenrod;
    font-size: 18px;
    text-align: center;
    font-family: 'Goldman' regular;
  }

.instruction {
  font-family: 'Goldman' regular;
  color: #b10e0e;
}

