@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');


.player-image {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    margin-left: 1.6em;
    margin-top: 3em;;
  }


.winner {
    width: 100px;
    height: 55px;
    margin: 10px auto;
    color: goldenrod;
    font-size: 18px;
    text-align: center;
    font-family: 'Goldman' regular;
  }

.playButton {
    width: 200px;
    height: 50px;
    display: block;
    margin: 10px auto;
    color: #fff;
    font-size: 18px;
    border-radius: 25px;
    background: #008393;
    outline: none;
  }

